<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/styles.css">
<title>Edit property - MICM</title>
</head>
<body>

<!-- property search form -->
<div class="container col-sm-7 col-md-5">
    <h1 class="text-center">Keys</h1>
    <div class="container">

      <form class="form-group container" action="/edit/<%= key_number %>" method="POST" id="add-keys-form" novalidate>

        <!-- errors from input validation -->
        <% if (locals.messages) { %> 
            <p class="text-danger text-center error-message"><%= JSON.stringify(locals.messages) %> </p>
        <% } %>

        <input type="text" class="form-control" id="unit_number" name="unit_number"  value="<%= unit_number %>" placeholder="Unit number">
        <input type="text" class="form-control" id="building_number" name="building_number" value="<%= building_number %>" placeholder="Building number">
        <input type="text" class="form-control" id="street_name" name="street_name" value="<%= street_name %>" placeholder="Street name">
        <div class="row">
          <div class="col">
            <h4 class="key-code"> SBP - <%= key_number %> </h4>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <button type="submit" class="button add-key-button" value="Save">Save changes</button>
          <!-- form for delete request below -->
        </div>
      </form>
      <form class="delete-record-form" action="/edit/delete/<%= key_number %>" method="POST">
        <button type="submit" class="button delete-button" value="Delete">Delete key</button> 
        <a class="text-center back-to-home-page with-underline" href="/">Back to key search</a>      
      </form>
    </div>
    
</div>

<%- include('../partials/footer.ejs') %>
</body>
</html>